.about-me {
    width: 100%;
    height: 50vh;
}

.personal-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pers-img {
    width: 250px;
    height: 250px;
    padding-right: 100px;
}

.description {
    padding: 5px 15px;

    p {
        text-align: center;
    }
}

@media all and (max-width: 420px) {
    .personal-info {
        flex-direction: column;
    }

    .pers-img {
        width: 150px;
        height: 150px;
        padding-right: 0;
    }
}

@media all and (max-width: 620px) { 
    .personal-info {
        flex-direction: column;
    }

    .pers-img {
        width: 200px;
        height: 200px;
        padding-right: 0;
    }
}